[Desktop Entry]
Version=1.0
Name=ChatGPT
GenericName=ChatGPT
Comment=ChatGPT client
Terminal=false
Type=Application
Categories=Utility
Keywords=Flutter;share;files;chatgpt;GPT;